.error {
  color: red;
}

.success {
  color: green;
}

.btn {
  margin: 10px;
}

#main_menu {
  font-size: 25px;
  list-style-type: none;
  font-family: orbitron;
}

h1 {
  font-family: ubuntu;
}

#search_bar {
  margin-left: 40px;
}
