<h1>Career Form</h1>

<p>Enter career details:</p>

<form action='/' method='post'>
  <div class="form-group">
    <label for="career">Career</label>
    <input id="career" name="career" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info"></button>
</form>
