<h1>All Careers</h1>

#if ($deleted)
<h3 class="animated flash success">Career successfully deleted</h3>
#end

<ul>
#foreach ($career in $careers)
  <li><a href="/career/$career.getId()">$career.getTitle()</a></li>
  <br>
#end
</ul>
<br>

<hr>

<a class="bottomNav" href="/">Home</a>
