<h1>Program Language Database</h1>

<a href="/language/add">Add Language</a>
<a href="/languages">View All Languages</a>
<a href="/type/add">Add a Type</a>
<a href="/types">View All Types</a>
<a href="/program/add">Add a Program</a>
<a href="/programs">View All Programs</a>
<a href="/career/add">Add a Career</a>
<a href="/careers">View All Careers</a>
