<h1>Program Language Database</h1>

<ul id="main_menue">
  <li><a href="/language/add">Add Language</a></li>
  <li><a href="/languages">View All Languages</a></li>
  <li><a href="/type/add">Add a Type</a></li>
  <li><a href="/types">View All Types</a></li>
  <li><a href="/program/add">Add a Program</a></li>
  <li><a href="/programs">View All Programs</a></li>
  <li><a href="/career/add">Add a Career</a></li>
  <li><a href="/careers">View All Careers</a></li>
</li>
