<h1>$language.getName()</h1>
<br>
<h2>$language.getDescription()</h2>
<br>
<h2>$language.getExample()</h2>
<br>
<h2>$language.getDate()</h2>
<br>
<h2>$language.getUrl()</h2>

<form action="/languages/$language.getId()/delete">
  <button type="submit" class="btn btn-danger">Remove Language</button>
</form>

<a href="/">Home</a>
