
<!DOCTYPE html>
<html>
  <head>
    <title>Program Language Database</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu|Catamaran|Orbitron' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/animate.css">
    <link rel="stylesheet" href="/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      #parse( $template )
    </div>
    <br>
    <form action="/search" method="post" id="search_bar">
      <label for="search">Search</label>
      <input id="search" name="search">

      <button type="submit" id="search-button" class="btn btn-info">Search</button>
    </form>
  </body>
</html>
