<h1>All Programs</h1>

#if ($deleted)
<h3 class="animated flash success">Program successfully deleted</h3>
#end

<ul>
#foreach ($program in $programs)
  <li><a href="/program/$program.getId()">$program.getName()</a></li>
  <br>
#end
</ul>
<br>

<hr>

<a class="bottomNav" href="/">Home</a>
