<h1>All Types</h1>

#if ($deleted)
<h3 class="animated flash success">Type successfully deleted</h3>
#end

<ul>
#foreach ($type in $types)
  <li><a href="/type/$type.getId()">$type.getName()</a></li>
  <br>
#end
</ul>
<br>

<hr>

<a class="bottomNav" href="/">Home</a>
